#### Instructions:

 Adapt the code, function that returns new data, add info, no prizes, no companies, be creative with relevant information

https://rapidapi.com/aedbx-aedbx/api/aerodatabox/

In [14]:
import requests
import pandas as pd

In [15]:
url = "https://aerodatabox.p.rapidapi.com/flights/%7BsearchBy%7D/KL1395/dates/2020-06-01/2020-06-15"

headers = {
"X-RapidAPI-Key": "SIGN-UP-FOR-KEY",
"X-RapidAPI-Host": "aerodatabox.p.rapidapi.com"
}

response = requests.get(url, headers=headers)
response

In [16]:
print('Response 403. Seems that this link does not work i will check anocher free api web')

Response 403. Seems that this link does not work i will check anocher free api web

In [17]:
url = "https://aerodatabox.p.rapidapi.com/airports/search/term"
    
h2 = {"q":"madrid","limit":"10"}

headers = {
    'x-rapidapi-host': "aerodatabox.p.rapidapi.com",
    'x-rapidapi-key': "9613ca6ca5msh62659872159916fp1a0a2cjsndd9a3e6ff324"
    }

response = requests.get(url, headers=headers, params=h2)
result = response.json()
result

{'searchBy': 'madrid',
 'count': 4,
 'items': [{'icao': 'LEMD',
   'iata': 'MAD',
   'name': 'Madrid Adolfo Suárez –Barajas',
   'shortName': 'Adolfo Suárez –Barajas',
   'municipalityName': 'Madrid',
   'location': {'lat': 40.4936, 'lon': -3.56676},
   'countryCode': 'ES'},
  {'icao': 'LECU',
   'iata': 'ECV',
   'name': 'Madrid Cuatro Vientos',
   'shortName': 'Cuatro Vientos',
   'municipalityName': 'Madrid',
   'location': {'lat': 40.3707, 'lon': -3.78514},
   'countryCode': 'ES'},
  {'icao': 'LETO',
   'iata': 'TOJ',
   'name': 'Madrid Torrejón',
   'shortName': 'Torrejón',
   'municipalityName': 'Madrid',
   'location': {'lat': 40.4967, 'lon': -3.445869},
   'countryCode': 'ES'},
  {'icao': 'MMIA',
   'iata': 'CLQ',
   'name': 'Colima Licenciado Miguel de la Madrid',
   'shortName': 'Licenciado Miguel de la Madrid',
   'municipalityName': 'Colima',
   'location': {'lat': 19.277, 'lon': -103.577},
   'countryCode': 'MX'}]}

In [19]:
nrm = response.json()
nrm['items']
pd.json_normalize(nrm['items'])

,icao,iata,name,shortName,municipalityName,countryCode,location.lat,location.lon
0,LEMD,MAD,Madrid Adolfo Suárez –Barajas,Adolfo Suárez –Barajas,Madrid,ES,40.4936,-3.566760
1,LECU,ECV,Madrid Cuatro Vientos,Cuatro Vientos,Madrid,ES,40.3707,-3.785140
2,LETO,TOJ,Madrid Torrejón,Torrejón,Madrid,ES,40.4967,-3.445869
3,MMIA,CLQ,Colima Licenciado Miguel de la Madrid,Licenciado Miguel de la Madrid,Colima,MX,19.2770,-103.577000

In [20]:
pd.json_normalize(nrm['items'])

,icao,iata,name,shortName,municipalityName,countryCode,location.lat,location.lon
0,LEMD,MAD,Madrid Adolfo Suárez –Barajas,Adolfo Suárez –Barajas,Madrid,ES,40.4936,-3.566760
1,LECU,ECV,Madrid Cuatro Vientos,Cuatro Vientos,Madrid,ES,40.3707,-3.785140
2,LETO,TOJ,Madrid Torrejón,Torrejón,Madrid,ES,40.4967,-3.445869
3,MMIA,CLQ,Colima Licenciado Miguel de la Madrid,Licenciado Miguel de la Madrid,Colima,MX,19.2770,-103.577000

In [22]:
querystring = {"q":"Barcelona","limit":"10"}

response = requests.request("GET", url, headers=headers, params=querystring)
items = response.json()
items

{'searchBy': 'Barcelona',
 'count': 2,
 'items': [{'icao': 'LEBL',
   'iata': 'BCN',
   'name': 'Barcelona ',
   'shortName': 'Barcelona',
   'municipalityName': 'Barcelona',
   'location': {'lat': 41.2971, 'lon': 2.078459},
   'countryCode': 'ES'},
  {'icao': 'SVBC',
   'iata': 'BLA',
   'name': 'Barcelona General Jose Antonio Anzoategui',
   'shortName': 'General Jose Antonio Anzoategui',
   'municipalityName': 'Barcelona',
   'location': {'lat': 10.107099, 'lon': -64.6892},
   'countryCode': 'VE'}]}

In [24]:
nrm_ = response.json()
nrm_['items']

[{'icao': 'LEBL',
  'iata': 'BCN',
  'name': 'Barcelona ',
  'shortName': 'Barcelona',
  'municipalityName': 'Barcelona',
  'location': {'lat': 41.2971, 'lon': 2.078459},
  'countryCode': 'ES'},
 {'icao': 'SVBC',
  'iata': 'BLA',
  'name': 'Barcelona General Jose Antonio Anzoategui',
  'shortName': 'General Jose Antonio Anzoategui',
  'municipalityName': 'Barcelona',
  'location': {'lat': 10.107099, 'lon': -64.6892},
  'countryCode': 'VE'}]

In [25]:
pd.json_normalize(nrm_['items'])

,icao,iata,name,shortName,municipalityName,countryCode,location.lat,location.lon
0,LEBL,BCN,Barcelona,Barcelona,Barcelona,ES,41.297100,2.078459
1,SVBC,BLA,Barcelona General Jose Antonio Anzoategui,General Jose Antonio Anzoategui,Barcelona,VE,10.107099,-64.689200

In [26]:
icao_from = 'LEBL'
icao_to = 'SVBC'

url = f"https://aerodatabox.p.rapidapi.com/airports/icao/{icao_from}/distance-time/{icao_to}"

response = requests.get(url, headers=headers)

print(response.json())

{'from': {'icao': 'LEBL', 'iata': 'BCN', 'name': 'Barcelona ', 'shortName': 'Barcelona', 'municipalityName': 'Barcelona', 'location': {'lat': 41.2971, 'lon': 2.078459}, 'countryCode': 'ES'}, 'to': {'icao': 'SVBC', 'iata': 'BLA', 'name': 'Barcelona General Jose Antonio Anzoategui', 'shortName': 'General Jose Antonio Anzoategui', 'municipalityName': 'Barcelona', 'location': {'lat': 10.107099, 'lon': -64.6892}, 'countryCode': 'VE'}, 'greatCircleDistance': {'meter': 7337222.31, 'km': 7337.22, 'mile': 4559.14, 'nm': 3961.78, 'feet': 24072251.69}, 'approxFlightTime': '09:10:00'}